html,
body {
  font-family: "Trebuchet MS", Ubuntu, sans-serif;
  margin: -1px 0;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 25px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #be00cc, #00ffda);
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #be00cc, #00ffda);
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  margin: 0.5em 0;
  line-height: 1.7;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  color: #00ffda;
  /* font-size: 0.9em; */
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 10;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

#navbar ul {
  list-style: none;
  margin: 0;
}

#navbar li {
  float: left;
}

#navbar li:last-child {
  float: right;
  padding-right: 4em;
}

#navbar li:first-child {
  padding-left: 4em;
}

#navbar li a {
  display: block;
  text-align: center;
  padding: 2.2em 1em;
  color: #be00cc;
  transition: 0.5s;
}

#navbar li a:hover {
  color: #9700a1;
}

#navbar .icon {
  display: none;
}

#navbar .logo {
  height: 70px;
  width: 68px;
  display: block;
  padding: 0.8em 1em;
  transition: 0.5s;
}

.topnav .nav-item {
  font-size: 0.8em;
}

.topnav .nav-item:hover,
.topnav .nav-item:focus {
  border-top: 4px solid;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  line-height: 3rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

main {
  margin-top: -30px;
  margin-bottom: 10%;
}

#showcase {
  height: 105vh;
  width: 100%;
  background-image: url("./img/showcase.webp");
  background-color: #fff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  z-index: -10;
}

#showcase .blurb {
  position: absolute;
  width: 30%;
  top: 35%;
  left: 15%;
}

#showcase .blurb > h2 {
  margin: 0.4em 0;
  letter-spacing: 0.1rem;
}

#showcase .blurb > h3 {
  line-height: 1.8em;
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

#showcase .social-icons {
  font-size: 2em;
  color: #be00cc;
  padding: 5px;
}

#showcase .chevron {
  color: #be00cc;
  position: absolute;
  left: 50%;
  bottom: 10%;
  animation: arrow 1s ease-in-out infinite;
}

@keyframes arrow {
  0% {
    bottom: 10%;
  }
  50% {
    bottom: 8%;
  }
  100% {
    bottom: 10%;
  }
}

#main-body {
  margin: 0 10%;
}

#about-me {
  height: fit-content;
  letter-spacing: 0.1rem;
}

#about-me > .about-me-back {
  position: absolute;
  height: 100vh;
  width: 100%;
  margin-left: -15%;
  z-index: -10;
  overflow: hidden;
}

#about-me > .about-me-back > .cube {
  width: 270px;
  height: 270px;
  position: absolute;
  top: 28%;
  left: 0%;
  transform: translateZ(-100px);
  transform-style: preserve-3d;
  transition: 2s;
}

#about-me > .about-me-back > .cube2 {
  width: 270px;
  height: 270px;
  position: absolute;
  bottom: 25%;
  right: 0%;
  transform: translateZ(-100px);
  transform-style: preserve-3d;
  transition: 1s;
}

#about-me > .about-me-back > .cube .cube_face,
.cube2 .cube_face {
  width: 270px;
  height: 270px;
  border: 1px solid #a1fff1;
  position: absolute;
  background: hsla(171, 100%, 44%, 0.7);
  text-align: center;
  color: white;
  font-size: 50px;
  line-height: 200px;
}

#about-me > .about-me-back > .cube2 .cube_pink {
  border: 1px solid #f89cff;
  background: hsla(296, 100%, 40%, 0.7);
}

#about-me > .about-me-back > .cube .cube_face_front,
.cube2 .cube_face_front {
  transform: rotateY(0deg) translateZ(135px);
}
#about-me > .about-me-back > .cube .cube_face_back,
.cube2 .cube_face_back {
  transform: rotateY(180deg) translateZ(135px);
}
#about-me > .about-me-back > .cube .cube_face_top,
.cube2 .cube_face_top {
  transform: rotateX(90deg) translateZ(135px);
}
#about-me > .about-me-back > .cube .cube_face_bottom,
.cube2 .cube_face_bottom {
  transform: rotateX(-90deg) translateZ(135px);
}
#about-me > .about-me-back > .cube .cube_face_left,
.cube2 .cube_face_left {
  transform: rotateY(-90deg) translateZ(135px);
}
#about-me > .about-me-back > .cube .cube_face_right,
.cube2 .cube_face_right {
  transform: rotateY(90deg) translateZ(135px);
}

#about-me > .about-me-text > h1 {
  padding: 2px;
  margin: 0;
}

#about-me > .about-me-text > p a {
  color: #000;
  border-bottom: 1px solid;
  background-color: #00e0bf;
}

#about-me > .about-me-text > p a:hover,
#about-me > .about-me-text > p a:focus {
  border-bottom: 0;
  background-color: #00d3b3;
}

#about-me > .about-me-text {
  position: relative;
  margin: 0;
  padding: 15% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#work {
  height: auto;
  letter-spacing: 0.1rem;
}

#work h1 {
  padding-top: 5%;
  line-height: 1.2em;
}

#work h3.work-subheading {
  margin-top: 3rem;

}

#work h4 {
  font-weight: 400;
}

.project-section {
  height: fit-content;
  margin-bottom: 4%;
  background-image: linear-gradient(180deg, rgb(92, 0, 98) 0%, rgb(190, 0, 204) 40%, rgb(0, 255, 217) 100%);
  border-radius: 40px;
  padding: 2% 6% 4% 6%;
  margin-right: 0;
  -webkit-box-shadow: 0px 0px 5px 1px #ccc;
  -moz-box-shadow: 0px 0px 5px 1px #ccc;
  box-shadow: 0px 0px 5px 1px #ccc;
}

#traning {
  margin-bottom: 72px;
}

#traning .project-section {
  padding: 6% 6% 2% 6%;
}

#traning h2 {
  margin-top: 64px;
}

.project-section > .project-body {
  position: relative;
  color: rgb(231, 231, 231);
}

.project-section > .project-body h3 {
  margin: 1em 0;
}

.project-section > .project-body h4 {
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  .project-section > .project-body h4 {
    font-size: 22px;
  }
}

.project-section > .project-body > .project-title-with-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  align-items: center;
}

.project-section > .project-body .live-button {
  border: none;
  border-radius: 8px;
  /* font: inherit; */
  font-size: 1em;
  letter-spacing: 0;
  text-align: center;
  font-weight: 600;
  height: fit-content;
  padding: 10px 12px;
  margin-left: 4px;
  color: #be00cc;
  background-color: #00ffda;
}

.project-section > .project-body h3 {
  font-weight: 400;
}

.project-section > .project-body video {
  width: 100%;
  height: 70%;
}

.project-link {
  padding-left: 5px;
  font-size: 1.2em !important;
}

.img-carousel {
  text-align: center;
}

.img-carousel button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  height: 3em;
  width: 3em;
  font-size: 1.2em;
  color: #be00cc;
  cursor: pointer;
}

.img-carousel button:focus {
  border: none;
  outline: none;
  color: #9700a1;
}

.mySlides:not(:first-child) {
  display: none;
  text-align: center;
}

footer {
  height: fit-content;
  padding-top: 1%;
  background-color: #00ffda;
  color: #be00cc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center; /*for certain mobile widths*/
  -webkit-box-shadow: 0 0 4px 1px black;
  -moz-box-shadow: 0 0 4px 1px black;
  box-shadow: 0 0 4px 1px black;
  border-top: solid 2px #be00cc;
}

footer > .footer-contact {
  display: inherit;
}

#footer h3 {
  font-weight: 600;
  letter-spacing: 0.2rem;
}

#footer a {
  color: #be00cc;
}

#footer .footer-contact > h3:first-child span {
  padding: 0 24px;
}

#footer img {
  height: 4rem;
  margin-top: 20px;
}

@media (min-width: 1441px) {
  html,
  body {
    font-size: 20px;
  }

  #navbar .logo {
    height: 64px;
    width: 62px;
    padding: 1em;
  }

  #about-me > .about-me-back > .cube {
    width: 400px;
    height: 400px;
  }

  #about-me > .about-me-back > .cube2 {
    width: 400px;
    height: 400px;
  }

  #about-me > .about-me-back > .cube .cube_face,
  .cube2 .cube_face {
    width: 400px;
    height: 400px;
  }

  #about-me > .about-me-back > .cube .cube_face_front,
  .cube2 .cube_face_front {
    transform: rotateY(0deg) translateZ(200px);
  }
  #about-me > .about-me-back > .cube .cube_face_back,
  .cube2 .cube_face_back {
    transform: rotateY(180deg) translateZ(200px);
  }
  #about-me > .about-me-back > .cube .cube_face_top,
  .cube2 .cube_face_top {
    transform: rotateX(90deg) translateZ(200px);
  }
  #about-me > .about-me-back > .cube .cube_face_bottom,
  .cube2 .cube_face_bottom {
    transform: rotateX(-90deg) translateZ(200px);
  }
  #about-me > .about-me-back > .cube .cube_face_left,
  .cube2 .cube_face_left {
    transform: rotateY(-90deg) translateZ(200px);
  }
  #about-me > .about-me-back > .cube .cube_face_right,
  .cube2 .cube_face_right {
    transform: rotateY(90deg) translateZ(200px);
  }
}

@media (max-width: 800px) {
  #showcase {
    background-position: 70% 50%;
  }
}

@media (max-width: 768px) {
  #navbar .topnav {
    display: none;
  }

  #navbar .icon {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    padding: 2px 10px 4px 10px;
  }

  #navbar li a {
    padding: 0.8em 1em;
  }

  #navbar li:first-child {
    padding-left: 0;
  }

  #navbar li:last-child {
    float: right;
    padding-right: 0;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2rem;
    margin-left: 50px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    display: block;
    transition: 0.3s;
  }

  #showcase {
    background-position: 75% 50%;
  }

  #showcase .blurb {
    top: 30%;
    width: 50vw;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 10px 10px 14px;
    border-radius: 8%;
  }

  .project-section > .project-body h3 {
    line-height: 1.5em;
  }

  .project-section > .project-body .live-button {
    padding: 6px 8px;
    font-size: 14px;
  }

  #about-me > .about-me-back > .cube {
    top: 10%;
  }

  #about-me > .about-me-back > .cube2 {
    bottom: 20%;
  }
}

@media (max-width: 426px) {
  html,
  body {
    font-size: 12px;
  }

  #showcase .blurb {
    width: 62vw;
    /* background: rgba(255, 255, 255, 0.5);
    padding: 10px 10px 10px 14px;
    border-radius: 8%; */
  }

  #navbar .icon {
    font-size: 2.5em;
  }

  #showcase {
    background-position: 65% 50%;
    background-attachment: scroll;
  }

  #showcase .blurb {
    width: 60%;
  }

  #showcase .blurb > h3 {
    font-weight: 600;
  }

  #about-me > .about-me-back {
    padding: 10% 0;
  }

  #about-me > .about-me-text > h3 {
    font-weight: 600;
  }

  .project-section {
    padding: 2% 8% 6% 8%;
  }

  .project-section > .project-body {
    padding-top: 0.5px;
  }

  main > #main-body > #work > .project-section {
    margin-bottom: 17%;
  }

  .project-section > .project-body h3 {
    font-weight: 600;
  }

  /* #footer .footer-contact > h3:nth-child(even) {
    display: inherit;
  } */

  #footer .footer-contact > h3:nth-child(1) span {
    display: none;
  }

  #footer .footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  #showcase {
    background-position: 68% 50%;
    background-attachment: scroll;
  }

  #about-me > .about-me-back {
    background-position: center center, center center !important;
    background-attachment: scroll;
  }
}

