html,
body {
  font-family: "Trebuchet MS", Ubuntu, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #00ffda;
  font-size: 0.9em;
}

p {
  margin: 0.5em 0;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0 0;
  background-color: #be00cc;
  color: #00ffda;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: 0 8px 6px -8px black;
  -moz-box-shadow: 0 8px 6px -8px black;
  box-shadow: 0 8px 6px -8px black;
}

#navbar li {
  float: left;
}

#navbar li:last-child {
  float: right;
  padding-right: 4em;
}

#navbar li:first-child {
  padding-left: 4em;
}

#navbar li a {
  display: block;
  text-align: center;
  padding: 0.8em 1em;
}

#navbar li a:hover {
  color: #01aa91;
}

#navbar .icon {
  display: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 20;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  line-height: 2em;
}

main {
  margin-top: -30px;
  margin-bottom: 15%;
}

#showcase {
  height: 104vh;
  width: 100%;
  background-image: url("./img/showcase.png");
  background-color: #fff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  z-index: -10;
}

#showcase .blurb {
  position: relative;
  width: 30%;
  top: 30%;
  left: 15%;
}

#showcase .blurb > h2 {
  line-height: 0em;
}

#showcase .blurb > h3 {
  line-height: 1.7em;
  margin: 0;
  font-weight: 400;
}

#showcase .social-icons {
  font-size: 3em;
  color: #be00cc;
  padding: 5px;
}

#main-body {
  margin: 0 15%;
}

#about-me {
  height: 100vh;
}

#about-me > .about-me-back {
  background-image: url("./img/tri2.png"), url("./img/tri1.png");
  background-position: -800px 0, 800px 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  height: 100vh;
  width: 100%;
  margin-top: 0;
  margin-left: -15%;
  z-index:-10;
}

#about-me > .about-me-text > h1 {
  padding: 2px;
  margin: 0;
}

#about-me > .about-me-text > h4 {
  line-height: 2em;
  font-weight: 400;
}

#about-me > .about-me-text {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2vh;
  /* padding: 10% 0; */
}

#work {
  height: auto;
}

#work h1 {
  padding-top: 5%;
  line-height: 1.2em;
}

#work h4 {
  font-weight: 400;
}

.project-section {
  height: fit-content;
  margin-bottom: 4%;
  background-image: linear-gradient(180deg, rgb(190, 0, 204), rgb(0, 255, 217));
  border-radius: 40px;
  padding: 2% 6% 4% 6%;
  margin-right: 0;
}

.project-section > .project-body {
  position: relative;
  color: rgb(231, 231, 231);
}

.project-section > .project-body h3 {
  line-height: 0.2em;
}

.project-section > .project-body video {
  width: 100%;
  height: 70%;
}

.project-link {
  padding-left: 5px;
  font-size: 1.2em !important;
}

.img-carousel {
  text-align: center;
}

.img-carousel button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  height: 3em;
  width: 3em;
  font-size: 1em;
  color: rgb(119, 119, 119);
}

.img-carousel button:focus {
  border: none;
  outline: none;
  color: rgb(68, 66, 66);
}

.mySlides:not(:first-child) {
  display: none;
  text-align: center;
}

footer {
  height: 7em;
  font-weight: 300;
  background-color: #be00cc;
  color: #00ffda;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 0 0 4px 1px black;
  -moz-box-shadow: 0 0 4px 1px black;
  box-shadow: 0 0 4px 1px black;
}

footer > .footer-contact {
  display: inherit;
}

@media (min-width: 1441px) {
  #about-me > .about-me-text {
    font-size: 3vh;
  }
}

@media (max-width: 1440px) {
  html,
  body {
    font-size: 1.5vw;
  }
}

@media (max-width: 1024px) {
  html,
  body {
    font-size: 2vw;
  }
}

@media (max-width: 768px) {
  #showcase {
    background-position: 75% 50%;
  }

  #about-me > .about-me-text {
    /* padding: 35% 0; */
    font-size: 1.7vh;
  }

  #about-me > .about-me-text > h4 {
    font-weight: 600;
  }
}

@media screen and (max-width: 768px) {
  #navbar {
    padding-top: 15px;
    font-size: 18px;
  }

  #navbar .icon {
    float: right;
    display: block;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    display: block;
    transition: 0.3s;
  }
}

@media screen and (max-width: 768px) {
  #navbar .topnav {
    display: none;
  }

  #navbar .icon {
    font-size:1.5em;
    padding:2px 10px;
  }

  .project-section > .project-body h3 {
    line-height: 1.5em;
  }
}

@media (max-width: 800px) {
  #showcase {
    background-position: 70% 50%;
  }

  #navbar {
    padding: 10px 0 0 0;
    font-size: 2.8vw;
  }
}

@media (max-width: 425px) {
  html,
  body {
    font-size: 3vw;
  }

  #showcase {
    background-position: 68% 50%;
    background-attachment: scroll;
  }

  #showcase .blurb {
    width: 37%;
  }

  #navbar {
    padding: 14px 0 0 0;
    font-size: 3vw;
  }

  #navbar .icon {
    font-size: 2.5em;
  }

  .project-section {
    padding: 2% 8% 6% 8%;
  }

  .project-section > .project-body {
    padding-top: 0.5px;
  }

  main > #main-body > #work > .project-section {
    margin-bottom: 17%;
  }

  #about-me > .about-me-back {
    background-position: center center, center center !important;
    background-attachment: scroll;
  }

  #about-me > .about-me-text {
    /* padding: 35% 0; */
    font-size: 1.6vh;
  }
}

@media (max-width: 375px) {
  #about-me > .about-me-text {
    /* padding: 50% 0; */
    font-size: 1.5vh;
  }
}
